<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.hoseong.spring.vo.board.BoardVO"
			alias="BoardVO" />
		<typeAlias type="com.hoseong.spring.vo.board.ReplyVO"
			alias="ReplyVO" />
		<typeAlias type="com.hoseong.spring.vo.member.MemberVO"
			alias="MemberVO" />
		<typeAlias type="com.hoseong.spring.vo.shop.ProductVO"
			alias="ProductVO" />
		<typeAlias type="com.hoseong.spring.vo.shop.CartVO"
			alias="CartVO" />
			
	</typeAliases>
</configuration>
